
@font-face {
    font-family: 'Inter';
    src: url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inter:wght@100..900&display=swap');
}

:root {
    --bg: #faf6e9;
    --text: #081439;
    --accent1: #f7ebc6;
    --accent2: #d7e0fd;
    --accent3: #f7d3c6;
    --accentStrong: #E24E42;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: var(--bg);
    color: var(--text);
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    width: 1536px;
    margin: auto;
    padding-left: 50px;
    padding-right: 50px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (max-width: 1536px) {
    .container {
        width: 1366px;
    }
}

@media (max-width: 1366px) {
    .container {
        width: 1280px;
    }
}

@media (max-width: 1280px) {
    .container {
        width: 1024px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width: 1024px) {
    .container {
        width: 768px;
    }
}

@media (max-width: 768px) {
    .container {
        width: 640px;
    }
}

@media (max-width: 640px) {
    .container {
        width: 475px;
    }
}

@media (max-width: 475px) {
    .container {
        width: 380px;
    }
}