
/* Global Import */
@import './global.css';

/* Container Set Up */
.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    box-sizing: border-box;
    align-items: center;
}

/* FOR FUTURE USE */
/* Responisive Screen */