
/* Global Import */
@import './global.css';

/* Container Set Up */
.container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
}

/* FOR FUTURE USE */
/* Responisive Screen */