
/* Global Import */
@import './global.css';

/* Container Set Up */
.container {
    width: 100%;
    max-width: 1065px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-sizing: border-box;
}

/* FOR FUTURE USE */
/* Responisive Screen */