
.container {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo_icon {
    width: 30px;
    height: 30px;
}

.logo {
    display: flex;
    font-size: 24px;
    gap: 12px;
    align-items: center;
}

.linksContainer{
    min-width: 100px;
    padding: 10px;
    border-radius: 20px;
    font-size: 20px;
    text-align: center;
}

.links {
    display: flex;
    align-items: center;
    gap: 20px;
}

li {
    list-style-type: none;
}