
.wrapper {
    background-color: var(--bg5);
    width: 100%;
    display: flex;
    justify-content: center;
}

.container {
    color: var(--text-white);
    text-align: center;
    max-width: 1440px;
    min-width: 1065px;
    height: 500px;
    padding: 35px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.link_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.logo_icon {
    width: 150px;
    height: auto;
}
