
.wrapper {
    background-color: var(--bg5);
    width: 100%;
}

.container {
    max-width: 1440px;
    min-width: 1065px;
    color: var(--text-white);
    align-self: center;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 35px 0;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.link_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

h1 {
    font-size: 78px;
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 36px;
}

p {
    font-size: 24px;
}

.logo_icon {
    width: 150px;
    height: auto;
}
