/* GENREAL */

@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inter:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #f7f9fb;
}

/* TRANSITIONS */

a,
.btn {
    transition: all 300ms ease;
}

/* HEADER */


/* DESKTOP NAV */

nav, .nav-links, .header-left, .header-right, .logo-wrapper {
    display: flex;
}

nav {
    justify-content: space-between;
    margin: 0 calc(36px + 3vw);
    align-items: center;
    height: 7vh;
}

.header-left {
    gap: calc(2rem + 1vw);
    align-items: center;
}

.logo-wrapper {
    gap: 1rem;
    align-items: center;
}

.logo-img {
    width: 2.5rem;
}

.logo {
    font-size: 2rem;
}

.logo:hover {
    cursor: default;
}

.nav-links {
    gap: calc(2rem + 2vw);
    list-style: none;
    font-size: 1.5rem;
}

a{
    color: black;
    text-decoration: none;
    text-decoration-color: white;
}

.header-right {
    gap: calc(2rem + 2vw);
    align-items: center;
    font-size: 1.5rem;
}

/* HAMBURGER MENU */

#hamburger-nav {
    display: none;
}

.hamburger-menu {
    position: relative;
    display: inline-block;
  }
  
.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 3px;
  background-color: #23547b;
  transition: all 0.3 ease-in-out;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: rgba(255, 255, 255, 0.7);
  width: fit-content;
  white-space: nowrap;
  padding: 0 1rem;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}

a:hover {
  color: #84939B;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 300px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-icon span:first-child {
  opacity: 1;
}

.hamburger-icon span:first-child {
  transform: none;
}

/* SECTIONS */

section {
  padding-top: 4vh;
  height: 96vh;
  width: 80vw;
  margin: 0 auto;
  box-sizing: border-box;
  min-height: fit-content;
  max-width: 1080px;
}

.section-container {
  display: flex;
}

/* PROFILE */

#profile {
  display: block;
  justify-content: left;
  height: 90vh;
}

#name, #reading {
  display: flex;
  width: 100%;
  gap: 3vw;
}

#name {
  height: 15rem;
}

#first-name {
  color: black;
  font: normal 400 12.5rem 'Inria Serif';
  display: flex;
  align-self: baseline;
}

#last-name {
  color: #5085A5;
  font: normal 700 6rem 'Inria Serif';
  display: flex;
  align-self: baseline;
}

#reading {
  height: 5rem;
}

#syllable {
  color: #84939B;
  font: normal 300 4rem 'Inter';
  display: flex;
  align-self: baseline;
}

#pronounciation {
  color: #5085A5;
  font: normal 300 3.5rem 'Inter';
  display: flex;
  align-self: baseline;
}

.def {
  display: flex;
  gap: 3vw;
  margin: 2vh 0;
}

.num-def {
  color: black;
  font: normal 400 2.5rem 'Inter';
}

.main-def {
  color: black;
  font: normal 400 2.5rem 'Inter';
}

.also-def {
  color: black;
  font: normal 300 2.25rem 'Inter';
}

.sentence-def {
  color: #797979;
  font: normal 400 1.5rem 'Inter';
  margin-left: 3vw;
}

/* NEXT BUTTON */

.next-btn {
  padding-top: 7rem;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-self: bottom;
}

.next-btn-text {
  color: black;
  font: italic 300 1.5rem 'Inria Serif';
}

.next-btn:hover .next-btn-text {
  color: #84939B;
}

.next-btn-icon {
  width: 2rem;
  height: 2rem;
  background-image: url(../images/Down\ Arrow-day.png);
  background-size: cover;
}

.next-btn:hover .next-btn-icon {
  background-image: url(../images/Down\ Arrow\ Hover-day.png);
  transition: all 300ms ease;
}

/* ABOUT ME */

#aboutme-top {
  display: flex;
  gap: 3vw;
  margin-top: 5vh;
}

.about-pic {
  width: 22.5rem;
  height: auto;
  border-radius: 2.5rem;
}

.section-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#section-title {
  font: normal 400 2.5rem 'Inter';
  text-underline-offset: 0.7rem;
  text-decoration: underline;
}

.section-desc {
  font: normal 400 1.5rem 'Inter';
}

.section-href {
  font: normal 300 1.5rem 'Inria Serif';
}

#tech-title {
  font: normal 300 2rem 'Inria Serif';
  margin: 3rem 0;
}

.tech-wheel {
  width: 100%;
  height: 7rem;
  background-color: #D9D9D9;
  border-radius: 2rem;
}

/* PROJECTS */

#projects {
  display: flex;
  flex-direction: column;
  gap: 5vh;
  height: 100%;
  padding-bottom: 17vh;
}

.project {
  display: flex;
  gap: 3vw;
  margin-top: 5vh;
}

.project-title {
  font: normal 400 2rem 'Inter';
}

.project-tech {
  height: 3rem;
  display: flex;
  justify-content: left;
  gap: 1rem;
}

.project-img {
  width: 30rem;
  height: 16.875rem;
  border-radius: 2rem;
}

/* ICON */
.icons {
  width: 3rem;
  display: flex;
  justify-content: left;
}

/* FOOTER */

footer {
  padding: 4vh 0;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #23547B;
  color: #F7F9FB;
}

footer .icons {
  gap: 8vw;
  justify-content: center;
}

/* COPYRIGHT */
#copyright {
  color: #F7F9FB;
  font: normal 300 1rem 'Inria Serif';
}